html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
#map {
	height: 95%;
	width: 100%;
}

.album-thumbnail {
	width: 20%;
	padding: 5px;
}

.tooltip-album-item {
	border-bottom: 1px solid #DDDDDD;
	margin-bottom: 5px;
	padding-bottom: 5px;
}

.tooltip-album-item .view-button-container {
	text-align: right;
}